---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Results-driven Data Scientist with 2 years of expertise in data analysis, machine learning, and financial analysis.
    Proven track record in innovating solutions for business challenges, adept at leveraging programming languages, statistical tools,
     and machine learning frameworks to drive informed decision-making.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Computer Science Bachelor's degree"
      subtitle="2018 to 2024 at Universidade Federal Rural do Rio de Janeiro, Nova Iguaçu, Brazil"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Scientist at Omie"
      subtitle="From 09/2022 to 03/2024 at Omie, Remote, Brazil"
    >
      In this role, I automated Excel reports, developed machine learning solutions, conducted data analysis for credit assessment, and using Kanban methodologies to streamline workflow.
    </TimeLineElement>
    <TimeLineElement
      title="Financial Analyst at RJ Investimentos"
      subtitle="From 06/2021 to 12/2021 at RJ Investimentos, Rio de Janeiro, Brazil"
    >
      In this role, I created Excel dashboards for month reports and DRE's, managed cash flow, bank reconciliation, and invoice emition.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Pandas, Numpy and Seaborn</li>
    <li>PyTorch, and Scitkitlearn</li>
    <li>MySQL</li>
    <li>Machine Learning</li>
    <li>Data Analysis</li>
    <li>Web Development</li>
    <li>Javascript and Typescript</li>
    <li>Data Structures</li>
    <li>MVC</li>
    <li>Parallel Programming</li>
    <li>Async programming</li>
  </ul>
</BaseLayout>
